@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;600;700&family=Roboto:wght@100;300;400;700;900&family=Urbanist:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --whiteColor: #ffffff;
    --blackColor: #111b21;
    --mainColor: #008069;
    --greenColor: #25d366;
    --grayColor: #8696a0;
    --settingColor: #3b4a54;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: #f2eadf;
}

.container {
    position: relative;
    width: 34rem;
    height: 60rem;
    background-color: var(--whiteColor);
    box-shadow: 0 .5rem .5rem rgba(0 0 0 / .15);
    overflow: hidden;
}

/* Start Header Section */
.header {
    position: relative;
    background-color: var(--mainColor);
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    color: var(--whiteColor);
    font-weight: 600;
    font-size: 1.8rem;
}

.header .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--whiteColor);
    font-size: 1.6rem;
}

.header .icons i {
    cursor: pointer;
}
/* End Header Section */
/* Start Tabs Section */
.tabs {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: var(--mainColor);
    padding: 0.5rem 0;
    box-sizing: 0 .2rem .5rem rgba(0 0 0 / .15);
}

.tabs li {
    position: relative;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--whiteColor);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    opacity: .75;
    cursor: pointer;
}

.tabs li:first-child {
    flex-basis: 13%;
}

.tabs li:not(:first-child) {
    flex-basis: 33.33%;
}

.tabs li.active {
    opacity: 1;
    transition: all .5s ease-in-out;
}
.tabs li.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 100%;
    height: .2rem;
    background-color: var(--whiteColor);
}

.tabs li i {
    font-size: 1.6rem;
}

.tabs li .num {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mainColor);
    background-color: var(--whiteColor);
    font-size: .9rem;
}
/* End Tabs Section */
/* Start Content Section */
.content {
    position: relative;
    width: calc(34rem * 3);
    display: flex;
    overflow: hidden;
}

.content .box {
    position: relative;
    width: 0rem;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.content .box.active {
    left: 0;
    width: 34rem;
    visibility: visible;
    opacity: 1;
}

.content .communities {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content .communities .community-img {
    margin-top: 2.5rem;
}

.content .communities .community-text {
    margin-top: 2.5rem;
    text-align: center;
}

.content .communities .community-text h3 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--blackColor);
}

.content .communities .community-text p {
    font-size: 1.4rem;
    color: var(--grayColor);
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.content .communities .button .btn {
    padding: 1rem 2.4rem;
    border-radius: .3rem;
    border: .1rem solid transparent;
    color: var(--whiteColor);
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-weight: 600;
    font-size: 1.4rem;
    background-color: var(--mainColor);
    box-shadow: 0 .2rem .7rem rgba(11, 20, 26, .09), 0 .1rem .2rem rgba(11, 20, 26, .05);
    cursor: pointer;
    transition: all .5s ease-in-out;    
}

.content .communities .button .btn:hover {
    background-color: #017561;
}

.box .data {
    position: relative;
    width: 100%;
    height: 51rem;
}

.box .chat-list {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.box .chat-list .chat {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem 1rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.box .chat-list .chat:hover {
    background-color: #f5f5f5;
}
.box .chat-list .chat .img-box {
    position: relative;
    min-width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.box .chat-list .chat .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .chat-list .chat .details {
    width: 100%;
}

.box .chat-list .chat .details .chat-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box .chat-list .chat .details .chat-head h4 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--blackColor);
}

.box .chat-list .chat .details .chat-head .time {
    color: var(--grayColor);
    font-size: 1.1rem;
    text-transform: capitalize;
}

.box .chat-list .chat.unread .details .chat-head .time {
    color: var(--greenColor);
}

.box .chat-list .chat .details .message {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box .chat-list .chat .details .message p {
    color: var(--grayColor);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.box .chat-list .chat .details .message b {
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--greenColor);
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
}
/* End Content Section */